@media (max-width: 1200px) {
    .geneCard {
        width: 45% !important;
    }

}

@media (max-width: 992px) {
    .geneCard {
        width: 100% !important;
        height: 500px !important;
    }
}