@media (max-width: 768px) {
    .favoriteCard {
        width: 100% !important;
        margin: 0 !important;
        margin-bottom: 10px !important;
    }
    .favoriteList {
        width: 100% !important;
    }
}