body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    width: 100%;
    background-color: rgb(237, 237, 237);
}

.container {
    min-height: 100vh;
}

.heading-text {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 400;
}

footer {
    width: 100%;
    background-color: rgb(19, 38, 52);
    position: absolute;
    bottom: 0;
}

.footer-text {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
    text-align: center;
}

.artsy-logo {
    height: 20px;
    width: 20px;
}

.artsy-link {
    text-decoration: none;
    color: white;
}

.search-container {
    max-width: 1000px;
    width: 100%;
    position: relative;
    border: 1px solid rgba(1, 1, 1, 0.5);
    text-align: center;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.search-container-active {
    border: 1px solid orange;
}

.search-icon {
    width: 25px;
    height: 25px;
}

.clear-icon {
    width: 25px;
    height: 25px;
}

.search-bar {
    border: none;
    font-size: large;
    width: 90%;
}

.search-bar:focus {
    outline: none;
}

.search-button {
    float: left;
    border: none;
    background-color: white;
    margin-left: 10px;
}

.search-button:hover {
    cursor: pointer;
}

.search-button img {
    height: 25px;
    width: 25px;
    opacity: 0.5;
}

.clear-button {
    float: right;
    border: none;
    background-color: white;
    margin-right: 10px;
}

.clear-button:hover {
    cursor: pointer;
}

.search-button img:hover {
    opacity: 1;
}

.clear-button img:hover {
    opacity: 1;
}

.clear-button img {
    height: 20px;
    width: 20px;
    opacity: 0.5;
}

@media screen and (max-width: 1000px) {
    .search-container {
        max-width: 800px;
    }
    .search-bar {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .search-container {
        max-width: 600px;
    }
}

@media screen and (max-width: 600px) {
    .search-container {
        max-width: 400px;
    }
    .search-bar {
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .search-container {
        max-width: 200px;
    }
    .search-bar {
        width: 50%;
    }
}

.artist-container {
    max-height: 410px;
    margin: 50px 100px 0 100px;
    padding-bottom: 24px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}

.artist-card {
    margin: 10px;
    width: 13%;
    height: 400px;
    display: inline-block;
    background-color: rgb(35, 67, 98);
    overflow: auto;
}

.artist-card:hover {
    cursor: pointer;
    background-color: rgb(27, 38, 48);
}

.artist-image-container {
    width: 270px;
    height: 270px;
    margin: 16px auto 0;
    border-radius: 50%;
    border: 10px solid white;
    overflow: hidden;
}

.artist-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-name {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.no-results {
    width: 45%;
    text-align: center;
    background-color: rgb(207,207,207);
    margin: auto;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
}

.loading-container {
    text-align: center;
}

.loading-gif {
    width: 100px;
    height: 100px;
}

.artist-id {
    display: none;
}

.artist-description-container {
    margin: auto;
    width: 1200px;
    text-align: center;
}

.artist-description-name {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}

.artist-description-location {
    font-size: 25px;
    font-weight: lighter;
}

.artist-description-biography {
    font-size: 20px;
    margin: 0 auto;
    text-align: justify;
}