<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}"/>
    <title>Assignment 2</title>
</head>
<body>
    <header>
        <h2 class="heading-text">Artist Search</h2>
    </header>
    <main>
        <form method="POST">
            <div class="search-container" id="search-container">
                <button type="submit" class="search-button">
                    <img src="{{ url_for('static', filename='images/search_icon.png') }}" alt="Search Icon">
                </button>
                <input type="text" id="search-bar" class="search-bar" placeholder="Please enter an artist name."/>
                <button type="submit" class="clear-button">
                    <img src="{{ url_for('static', filename='images/clear_icon.png') }}" alt="Clear Icon">
                </button>
            </div>
        </form>
    </main>
    <footer>
        <p class="footer-text">
            Powered by
            <img src="{{ url_for('static', filename='images/artsy_logo.svg') }}" alt="Artsy Logo" class="artsy-logo"/>
            <a class="artsy-link" href="https://www.artsy.net">Artsy.</a>
        </p>
    </footer>

    <script src="{{ url_for('static', filename='scripts/index.js') }}">

    </script>
</body>
</html>